.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 200px;
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
}
