.form {
  display: grid;
  row-gap: 32px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &-input {
      box-sizing: border-box;
      border: none;
      background: #f8f8fa;
      border-radius: 40px;
      height: 48px;
      padding: 14px 0 14px 16px;

      &--textarea {
        height: 148px;
        border-radius: 16px;
        resize: none;
      }

      &::placeholder {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #7e7e83;
      }

      &:hover {
        outline: 1px solid #d5d7de;
      }

      &:focus {
        outline: 1px solid #292929;

        &::placeholder {
          color: #292929;
        }
      }

      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 5;
      }
    }
  }

  &__button {
    border: none;
    height: 56px;

    grid-column: 1 / -1;

    @include button;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }
}
