.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &__contact-number {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.03s;
    position: absolute;
    right: calc(100% + 20px);
    top: 50%;
    transform: translateY(-50%);

    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.17em;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &--phone {
    background-image: url(../icons/icon-phone.svg);
    position: relative;

    &:hover .icon__contact-number {
      opacity: 1;
      visibility: visible;
    }
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.svg);
  }
}
